body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.player-panel {
    display: flex;
    font-size: 32px;
    margin-bottom: 32px;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-left: 16px;
}

.player-inactive {
    opacity: 0.5;
}

.player-symbol {
    padding-right: 10px;
}

.relative {
    position: relative;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgba(25, 185, 253, 0.2);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

.center {
    position: absolute;
    top: 7px;
    left: 7px;
    right: 0;
    bottom: 0;
}

.d-none {
    display: none;
}

.end-line {
    width: 410px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    transform: scaleX(0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.spin-90-deg {
    transform: rotate(90deg) scaleX(0);
}

.game-over {
    position: absolute;
    z-index: 2;
    animation: zoomIn 500ms ease-in-out;
    top: -150px;
    left: -285px;
    width: 1000px;
    height: 800px;
    object-fit: cover;
}

.restart-btn {
    position: absolute;
    top: 555px;
    left: 120px;
    border-color: white;
    cursor: pointer;
    width: 185px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(29, 20, 125);
    color: white;
    font-size: 27px;
    z-index: 3;
    animation: zoomIn 500ms ease-in-out;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    } 
    to {
        transform: scale(1);
    }
}